.account-profile {
    display: flex;
    align-items: center;

}

.account-profile-img {
    border-radius: 50%;
    margin: 20px;
    width: 150px;
}

.account-btn {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #2196f3;
    background-color: #2196f3;
    color: white;
}